{%- for field in characteristics_fields %}
        <div class="input-group mt-3">
          <span class="input-group-text col-4 justify-content-end characteristic-label">{{ field.name.capitalize() }}</span>
          <input type="text" class="form-control text-start col-1 characteristic-modifier" id="{{ field.name }}-modifier" data-field="{{ field.name }}" value="+1"
            aria-label="{{ field.name.capitalize() }} Modifier" readonly>
          <input type="text" class="form-control col-1 text-end characteristic-initial" id="{{ field.name }}-initial" data-field="{{ field.name }}Initial" value="0"
            aria-label="Initial {{ field.name }}">
          <input type="text" class="form-control col-1 text-end characteristic-current" id="{{ field.name }}-current" data-field="{{ field.name }}" value="0"
            aria-label="Current {{ field.name }}">
          <button class="btn btn-outline-secondary characteristic-minus-plus" type="button" data-type="minus"
            data-field="{{ field.name }}">-</button>
          <button class="btn btn-outline-secondary characteristic-minus-plus" type="button" data-type="plus"
            data-field="{{ field.name }}">+</button>
        </div>
{%- endfor %}