    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-identity-tab" data-bs-toggle="pill" data-bs-target="#pills-identity"
          type="button" role="tab" aria-controls="pills-identity" aria-selected="true">Card Id</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-characteristics-tab" data-bs-toggle="pill"
          data-bs-target="#pills-characteristics" type="button" role="tab" aria-controls="pills-characteristics"
          aria-selected="false">Charact.</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills"
          type="button" role="tab" aria-controls="pills-skills" aria-selected="false">Skills</button>
      </li>
      <li class="nav-item dropdown" role="presentation">
        <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Equip.</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-weapons" type="button" role="tab"
              aria-controls="pills-weapons" aria-selected="false">Weapons</a></li>
          <li><a class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-armors" type="button" role="tab"
              aria-controls="pills-armors" aria-selected="false">Armors</a></li>
          <li><a class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-augments" type="button" role="tab"
              aria-controls="pills-augments" aria-selected="false">Augments</a></li>
          <li><a class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-equipments" type="button" role="tab"
              aria-controls="pills-equipments" aria-selected="false">Other</a></li>
        </ul>
      </li>
    </ul>
