
{%- for field in others_fields %}
        <div class="input-group mt-1">
          <span class="input-group-text justify-content-end text-wrap col-4 other-label" id="{{ field.id }}-label">{{ field.name.capitalize() }}</span>
          <div class="col-6"><input type="text" class="form-control text-start other-desc" id="{{ field.id }}-desc" value="{{ field.desc }}" readonly></div>
          <div class="col-2"><input type="text" class="form-control text-end other-number" id="{{ field.id }}-number" value="{{ field.number }}" readonly></div>
        </div>
{%- endfor %}