<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.html.jinja2' %}
</head>

<body>
  <header>
{% include 'header.html.jinja2' %}
  </header>

  <nav>
{% include 'nav.html.jinja2' %}
  </nav>

  <section>
{% include 'section.html.jinja2' %}
  </section>

  <footer>
{% include 'footer.html.jinja2' %}
  </footer>
  <script src="main.js"></script>
</body>

</html>