    <div class="tab-content container-fluid d-flex" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-identity" role="tabpanel" aria-labelledby="pills-identity-tab">
{% include 'identity.html.jinja2' %}
      </div>
      <div class="tab-pane fade" id="pills-characteristics" role="tabpanel" aria-labelledby="pills-characteristics-tab">
{% include 'characteristics.html.jinja2' %}
        <hr>
{% include 'finances.html.jinja2' %}
      </div>
      <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab">
{% include 'skills.html.jinja2' %}
      </div>
      <div class="tab-pane fade" id="pills-stuff" role="tabpanel" aria-labelledby="pills-stuff-tab">
{% include 'stuff.html.jinja2' %}
      </div>
    </div>
