{%- for field in skills_fields %}
    {%- set skill = field.name %}
    {%- set subskill = field.option %}
    {%- set fullskillId = skill + "-" + subskill %}
    {%- set fullskillData = skill + subskill.capitalize() %}
        <div class="input-group mt-3">
          <span class="input-group-text justify-content-end text-wrap col-4 skill-label" id="{{ fullskillId }}-label">{{ field.fullname.capitalize() }}</span>
          <div class="col-4 skill-popover" data-bs-toggle="popover"  data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="calc modifier...">
            <input type="text" class="form-control text-start skill-modifier" id="{{ fullskillId }}-modifier" data-skill="{{ skill }}Level" data-field="{{ fullskillData }}Level" value="-3" readonly>
          </div>
          <input type="text" class="form-control text-end skill-level" id="{{ fullskillId }}-level" data-field="{{ fullskillData }}Level" value="0">
          <input type="text" class="form-control text-end skill-xp" id="{{ fullskillId }}-xp" data-field="{{ fullskillData }}Xp" value="2">
          <button class="btn btn-outline-secondary skill-minus-plus col-1" type="button" data-type="minus" data-field="{{ fullskillData }}">-</button>
          <button class="btn btn-outline-secondary skill-minus-plus col-1" type="button" data-type="plus" data-field="{{ fullskillData }}">+</button>
        </div>
{%- endfor %}